In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [5]:
train = pd.read_csv('crx.csv',header=None,names=['Gender','Age','Debt','Married','BankCustomer','EducationLevel','Ethnicity','YearsEmployed','PriorDefault','Employed','CreditScore','DriversLicense','Citizen','ZipCode','Income','Approved'])

In [6]:
train.head()

,Gender,Age,Debt,Married,BankCustomer,EducationLevel,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,00202,0,+
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,00043,560,+
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,00280,824,+
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,00100,3,+
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+

In [8]:
train.describe()

             Debt  YearsEmployed  CreditScore         Income
count  690.000000     690.000000    690.00000     690.000000
mean     4.758725       2.223406      2.40000    1017.385507
std      4.978163       3.346513      4.86294    5210.102598
min      0.000000       0.000000      0.00000       0.000000
25%      1.000000       0.165000      0.00000       0.000000
50%      2.750000       1.000000      0.00000       5.000000
75%      7.207500       2.625000      3.00000     395.500000
max     28.000000      28.500000     67.00000  100000.000000

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
Gender            690 non-null object
Age               690 non-null object
Debt              690 non-null float64
Married           690 non-null object
BankCustomer      690 non-null object
EducationLevel    690 non-null object
Ethnicity         690 non-null object
YearsEmployed     690 non-null float64
PriorDefault      690 non-null object
Employed          690 non-null object
CreditScore       690 non-null int64
DriversLicense    690 non-null object
Citizen           690 non-null object
ZipCode           690 non-null object
Income            690 non-null int64
Approved          690 non-null object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.3+ KB

In [11]:
print(train.tail(17))

    Gender    Age    Debt Married BankCustomer EducationLevel Ethnicity  \
673      ?  29.50   2.000       y            p              e         h
674      a  37.33   2.500       u            g              i         h
675      a  41.58   1.040       u            g             aa         v
676      a  30.58  10.665       u            g              q         h
677      b  19.42   7.250       u            g              m         v
678      a  17.92  10.210       u            g             ff        ff
679      a  20.08   1.250       u            g              c         v
680      b  19.50   0.290       u            g              k         v
681      b  27.83   1.000       y            p              d         h
682      b  17.08   3.290       u            g              i         v
683      b  36.42   0.750       y            p              d         v
684      b  40.58   3.290       u            g              m         v
685      b  21.08  10.085       y            p              e         h
686      a  22.67   0.750       u            g              c         v
687      a  25.25  13.500       y            p             ff        ff
688      b  17.92   0.205       u            g             aa         v
689      b  35.00   3.375       u            g              c         h

     YearsEmployed PriorDefault Employed  CreditScore DriversLicense Citizen  \
673          2.000            f        f            0              f       g
674          0.210            f        f            0              f       g
675          0.665            f        f            0              f       g
676          0.085            f        t           12              t       g
677          0.040            f        t            1              f       g
678          0.000            f        f            0              f       g
679          0.000            f        f            0              f       g
680          0.290            f        f            0              f       g
681          3.000            f        f            0              f       g
682          0.335            f        f            0              t       g
683          0.585            f        f            0              f       g
684          3.500            f        f            0              t       s
685          1.250            f        f            0              f       g
686          2.000            f        t            2              t       g
687          2.000            f        t            1              t       g
688          0.040            f        f            0              f       g
689          8.290            f        f            0              t       g

    ZipCode  Income Approved
673   00256      17        -
674   00260     246        -
675   00240     237        -
676   00129       3        -
677   00100       1        -
678   00000      50        -
679   00000       0        -
680   00280     364        -
681   00176     537        -
682   00140       2        -
683   00240       3        -
684   00400       0        -
685   00260       0        -
686   00200     394        -
687   00200       1        -
688   00280     750        -
689   00000       0        -

In [12]:
train=train.replace('?',np.NaN)

In [13]:
print(train.tail(17))

    Gender    Age    Debt Married BankCustomer EducationLevel Ethnicity  \
673    NaN  29.50   2.000       y            p              e         h
674      a  37.33   2.500       u            g              i         h
675      a  41.58   1.040       u            g             aa         v
676      a  30.58  10.665       u            g              q         h
677      b  19.42   7.250       u            g              m         v
678      a  17.92  10.210       u            g             ff        ff
679      a  20.08   1.250       u            g              c         v
680      b  19.50   0.290       u            g              k         v
681      b  27.83   1.000       y            p              d         h
682      b  17.08   3.290       u            g              i         v
683      b  36.42   0.750       y            p              d         v
684      b  40.58   3.290       u            g              m         v
685      b  21.08  10.085       y            p              e         h
686      a  22.67   0.750       u            g              c         v
687      a  25.25  13.500       y            p             ff        ff
688      b  17.92   0.205       u            g             aa         v
689      b  35.00   3.375       u            g              c         h

     YearsEmployed PriorDefault Employed  CreditScore DriversLicense Citizen  \
673          2.000            f        f            0              f       g
674          0.210            f        f            0              f       g
675          0.665            f        f            0              f       g
676          0.085            f        t           12              t       g
677          0.040            f        t            1              f       g
678          0.000            f        f            0              f       g
679          0.000            f        f            0              f       g
680          0.290            f        f            0              f       g
681          3.000            f        f            0              f       g
682          0.335            f        f            0              t       g
683          0.585            f        f            0              f       g
684          3.500            f        f            0              t       s
685          1.250            f        f            0              f       g
686          2.000            f        t            2              t       g
687          2.000            f        t            1              t       g
688          0.040            f        f            0              f       g
689          8.290            f        f            0              t       g

    ZipCode  Income Approved
673   00256      17        -
674   00260     246        -
675   00240     237        -
676   00129       3        -
677   00100       1        -
678   00000      50        -
679   00000       0        -
680   00280     364        -
681   00176     537        -
682   00140       2        -
683   00240       3        -
684   00400       0        -
685   00260       0        -
686   00200     394        -
687   00200       1        -
688   00280     750        -
689   00000       0        -

In [14]:
print(train.isnull().values.sum())

67

In [30]:
train.fillna(train.mean(),inplace=True)
print(train.isnull().sum())
print(train.isnull().values.sum())
X = train.drop('Approved', axis=1)
Y = train['Approved']

Gender            0
Age               0
Debt              0
Married           0
BankCustomer      0
EducationLevel    0
Ethnicity         0
YearsEmployed     0
PriorDefault      0
Employed          0
CreditScore       0
DriversLicense    0
Citizen           0
Income            0
Approved          0
dtype: int64
0

In [31]:
for col in train:
  if train[col].dtypes=='object':
        train=train.fillna(train[col].value_counts().index[0])
        
print(train.isnull().sum())

Gender            0
Age               0
Debt              0
Married           0
BankCustomer      0
EducationLevel    0
Ethnicity         0
YearsEmployed     0
PriorDefault      0
Employed          0
CreditScore       0
DriversLicense    0
Citizen           0
Income            0
Approved          0
dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder
label_enc  = LabelEncoder()
for col in train:
  if train[col].dtypes=='object':
        train[col]=label_enc.fit_transform(train[col])
print(train.tail())

     Gender  Age    Debt  Married  BankCustomer  EducationLevel  Ethnicity  \
685       1   52  10.085        3             3               5          4
686       0   71   0.750        2             1               2          8
687       0   97  13.500        3             3               6          3
688       1   20   0.205        2             1               0          8
689       1  197   3.375        2             1               2          4

     YearsEmployed  PriorDefault  Employed  CreditScore  DriversLicense  \
685           1.25             0         0            0               0
686           2.00             0         1            2               1
687           2.00             0         1            1               1
688           0.04             0         0            0               0
689           8.29             0         0            0               1

     Citizen  Income  Approved
685        0       0         1
686        0     394         1
687        0       1         1
688        0     750         1
689        0       0         1

In [33]:
X_train, X_test, Y_train, Y_test = train_test_split (X,Y,test_size=0.3,random_state=42)

In [34]:
X_train, X_test, Y_train, Y_test = train_test_split (X,Y,test_size=0.3)
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(483, 14)
(483,)
(207, 14)
(207,)

In [35]:
logreg = LogisticRegression()
logreg.fit(X_train,Y_train)

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [36]:
Y_pred = logreg.predict(X_test)

In [37]:
print(Y_pred)

[1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 1 0 1 1 0 1 0 1 0 0 0 1 1 1 1 1 1 0 0 0 1 1
 0 0 0 0 0 0 0 1 0 1 1 1 1 0 1 0 1 0 0 0 1 0 0 1 1 1 0 1 1 0 1 0 0 1 0 1 0
 1 0 1 1 1 0 0 0 0 1 0 1 1 0 0 0 0 0 1 1 0 0 1 0 1 1 1 0 0 0 0 1 1 0 1 0 0
 1 1 1 1 0 0 0 0 0 1 0 1 1 1 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 1 1 0 1 1 0 1 1
 0 1 1 0 1 1 1 0 0 0 0 1 1 1 0 1 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0
 1 1 0 1 0 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1]

In [38]:
scoreLR = accuracy_score(Y_test,Y_pred)

In [39]:
print("Score ="+str(scoreLR*100)+"%")

Score =89.3719806763285%

In [40]:
svc= SVC()
svc.fit(X_train,Y_train)
Y_pred= svc.predict(X_test)

scoreSVC = accuracy_score(Y_test,Y_pred)
print("Accuracy Score : "+str(scoreLR*100)+"%")

Accuracy Score : 89.3719806763285%

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [41]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)

scoreKNN = accuracy_score(Y_test, Y_pred)
print("Accuracy score: " + str(scoreKNN * 100) + "%")

Accuracy score: 71.98067632850241%

In [42]:
gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_test)

scoreGNB = accuracy_score(Y_test, Y_pred)
print("Accuracy score: " + str(scoreGNB * 100) + "%")

Accuracy score: 79.71014492753623%

In [43]:
sgd = SGDClassifier()
sgd.fit(X_train, Y_train)
Y_pred = sgd.predict(X_test)

scoreSGD = accuracy_score(Y_test, Y_pred)
print("Accuracy score: " + str(scoreSGD * 100) + "%")

Accuracy score: 54.589371980676326%

In [44]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)

scoreDT = accuracy_score(Y_test, Y_pred)
print("Accuracy score: " + str(scoreDT * 100) + "%")

Accuracy score: 85.5072463768116%

In [45]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)

scoreRF = accuracy_score(Y_test, Y_pred)
print("Accuracy score: " + str(scoreRF * 100) + "%")

Accuracy score: 87.43961352657004%

In [46]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Stochastic Gradient Decent', 'Decision Tree'],
    'Score': [scoreSVC, scoreKNN, scoreLR, 
              scoreRF, scoreGNB, scoreSGD, scoreDT]})


models.sort_values(by='Score', ascending=False)

                        Model     Score
2         Logistic Regression  0.893720
3               Random Forest  0.874396
6               Decision Tree  0.855072
4                 Naive Bayes  0.797101
1                         KNN  0.719807
5  Stochastic Gradient Decent  0.545894
0     Support Vector Machines  0.516908